    * {
        margin: 0px auto;
        padding: 0;
    }
    
    .logo img {
        margin-top: 10px;
        width: 9rem;
    }
    
    nav {
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        box-shadow: 0px 10px 0px 0px 5px #000;
        position: fixed;
        z-index: 1;
        width: 100%;
    }
    
    .nav-items {
        margin-top: 10px;
    }
    
    .nav-items a {
        text-decoration: none;
        padding: 32px;
        color: rgb(126, 125, 125);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
    
    .nav-items a:hover {
        padding-top: 10px;
        padding-bottom: 10px;
        color: purple;
        border-bottom: 4px solid rgb(117, 3, 117);
        transition: 0.2s;
    }
    
    .nav-items button {
        margin-bottom: 3px;
        background-color: rgb(117, 3, 117);
        border-radius: 4px;
        padding: 13px 40px;
        border: none;
        font-size: 14px;
    }
    
    .nav-items button:hover {
        cursor: pointer;
        background-color: rgb(92, 3, 92);
    }
    
    .banner img {
        height: 35.7rem;
        margin-top: 60px;
    }
    
    .banner {
        position: relative;
    }
    
    .ads {
        position: absolute;
        top: 20%;
        left: 12%;
        height: 60px;
    }
    
    .ads h1 {
        font-size: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        color: #fff;
    }
    
    .adsparagraph {
        margin-top: 40px;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        width: 450px;
        font-size: 16px;
    }
    
    .adsparagraph p {
        margin: 5px;
    }
    
    .appdownload img {
        height: 45px;
        margin-top: 50px;
    }
    
    .appdownload img:hover {
        cursor: pointer;
    }
    
    #appstore {
        padding-left: 8px;
    }
    
    .appdetails {
        background-color: rgb(247, 247, 247);
        display: flex;
    }
    
    .appdetails img {
        margin-top: 100px;
        margin-left: 150px;
        height: 32rem;
    }
    
    .appparagraph {
        text-align: justify;
        width: 370px;
        margin-top: 170px;
        margin-left: 100px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .appdetails h3 {
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 30px;
        color: rgb(26, 25, 25);
    }
    
    .appdetails p {
        font-size: 17px;
        font-weight: 100;
        color: rgb(155, 153, 153);
    }
    
    .appdetails button {
        margin-top: 50px;
        padding: 15px 45px;
        border: none;
        color: #fff;
        background-color: rgb(117, 3, 117);
        border-radius: 4px;
        font-size: 14px;
    }
    
    .appdetails button:hover {
        cursor: pointer;
        background-color: rgb(92, 3, 92);
    }
    
    .make-money {
        background-color: rgb(247, 247, 247);
        display: flex;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .make-moneypara {
        text-align: justify;
        width: 370px;
        margin-left: 150px;
        margin-top: 150px;
    }
    
    .make-money h3 {
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 30px;
        color: rgb(26, 25, 25);
    }
    
    .make-money p {
        font-size: 17px;
        font-weight: lighter;
        color: rgb(150, 148, 148);
    }
    
    .make-money button {
        margin-top: 50px;
        padding: 15px 45px;
        border: none;
        color: #fff;
        background-color: rgb(117, 3, 117);
        border-radius: 4px;
        font-size: 14px;
    }
    
    .make-money button:hover {
        cursor: pointer;
        background-color: rgb(92, 3, 92);
    }
    
    .make-money img {
        margin-top: 50px;
        height: 32rem;
        margin-left: 150px;
    }
    
    .whyus {
        align-items: center;
    }
    
    .whyus-header {
        margin-top: 80px;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .whyus h3 {
        font-weight: 300;
        color: rgb(150, 148, 148);
        font-size: 15px;
        letter-spacing: 3px;
        margin-bottom: 15px;
    }
    
    .whyus h2 {
        font-size: 22px;
    }
    
    .whyus img {
        height: 32rem;
        margin-top: 100px;
        margin-left: 220px;
    }
    
    .lex {
        margin-left: 290px;
        margin-bottom: 200px;
    }
    
    .lex h4 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 17px;
        font-weight: 550;
        width: 200px;
        float: left;
        margin-left: 15px;
        padding: 15px;
        text-align: center;
    }
    
    .border-dash {
        border-left: 1px solid rgb(204, 204, 204);
        border-left-style: dashed;
        border-right: 1px solid rgb(204, 204, 204);
        border-right-style: dashed;
    }
    
    .sec img {
        width: 84.3rem;
        margin-bottom: 80px;
    }
    
    .sec {
        position: relative;
    }
    
    .sec h1 {
        position: absolute;
        top: 30%;
        left: 32%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 550;
        font-size: 35px;
    }
    
    .heads {
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .heads h3 {
        color: rgb(150, 148, 148);
        font-size: 15px;
        margin-bottom: 15px;
        letter-spacing: 3px;
        font-weight: 300;
    }
    
    .whoweserve {
        text-align: center;
        position: relative;
        margin-bottom: 80px;
    }
    
    .whoweserve img {
        width: 32rem;
        margin-top: 50px;
        padding-left: 10px;
    }
    
    .serveme {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: absolute;
        top: 86%;
    }
    
    .serveme h4 {
        margin-left: 20rem;
        float: left;
        font-size: 32px;
        font-weight: 100;
        color: #fff;
    }
    
    .anchor {
        margin-top: 100px;
        background-image: linear-gradient(180deg, #fff, rgb(233, 215, 233));
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .ouranchor {
        text-align: center;
        color: rgb(150, 148, 148);
        font-size: 15px;
        margin-bottom: 15px;
        letter-spacing: 3px;
        font-weight: 300;
    }
    
    .whatwevalue {
        text-align: center;
        margin-bottom: 100px;
    }
    
    .cont {
        margin: 80px 150px;
        margin-bottom: 80px;
        display: flex;
        justify-content: space-evenly;
    }
    
    .customers {
        margin-top: 25px;
        background-color: #fff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 300px;
        height: 300px;
        margin-right: 20px;
        margin-left: 20px;
        padding: 30px 15px;
        padding-left: 20px;
        box-shadow: 10px 10px 20px 10px rgb(231, 231, 231);
    }
    
    .customers img {
        height: 40px;
    }
    
    .customers h3 {
        margin: 15px 0px;
        font-size: 18px;
    }
    
    .customers p {
        font-size: 16px;
        text-align: justify;
        width: 300px;
        color: rgb(150, 148, 148);
    }
    
    .community {
        background-color: #fff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 350px;
        height: 350px;
        padding: 30px 15px;
        padding-left: 20px;
        box-shadow: 10px 10px 20px 10px rgb(231, 231, 231);
    }
    
    .community img {
        margin-left: 10px;
        height: 40px;
    }
    
    .community h3 {
        margin: 15px 0px;
        font-size: 18px;
    }
    
    .community p {
        text-align: justify;
        width: 300px;
        font-size: 16px;
        color: rgb(150, 148, 148);
    }
    
    .partnerships {
        margin-top: 25px;
        background-color: #fff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 320px;
        height: 300px;
        margin-left: 20px;
        padding: 30px 15px;
        padding-left: 20px;
        box-shadow: 10px 10px 20px 1px rgb(231, 231, 231);
    }
    
    .partnerships img {
        height: 40px;
    }
    
    .partnerships h3 {
        margin: 15px 0px;
        font-size: 18px;
    }
    
    .partnerships p {
        text-align: justify;
        width: 300px;
        font-size: 16px;
        color: rgb(150, 148, 148);
    }
    
    .getintouch {
        margin-top: 200px;
        margin-left: 150px;
    }
    
    .getintouch h3 {
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 3px;
    }
    
    .getintouch h2 {
        font-size: 32px;
    }
    
    .getintouch button {
        float: right;
        margin-top: -60px;
        margin-right: 150px;
        padding: 15px 45px;
        border: none;
        color: #fff;
        background-color: rgb(117, 3, 117);
        border-radius: 4px;
        font-size: 14px;
    }
    
    .getintouch button:hover {
        cursor: pointer;
        background-color: rgb(92, 3, 92);
    }
    
    .footer {
        background-color: black;
        color: #fff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .footercontents {
        display: flex;
    }
    
    .aboutus {
        display: flex;
        margin-top: 110px;
        margin-left: 350px;
        list-style: none;
        margin-bottom: 60px;
    }
    
    .footer img {
        margin: 40px 0px;
        width: 8rem;
    }
    
    .footer p {
        color: rgb(150, 148, 148);
        text-align: justify;
        width: 310px;
        font-size: 14px;
        line-height: 2;
    }
    
    .link h3 {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    
    .link a {
        text-decoration: none;
        color: rgb(150, 148, 148);
        font-size: 13px;
        line-height: 1.7;
    }
    
    .contact {
        margin-left: 100px;
    }
    
    .contact h3 {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    
    .contact a {
        text-decoration: none;
        color: rgb(150, 148, 148);
        font-size: 13px;
        line-height: 1.7;
    }
    
    .copyright {
        margin: 25px 150px;
        display: flex;
        border-top: 1px solid #fff;
    }
    
    .companyname {
        color: #fff;
        font-weight: bold;
    }
    
    .help {
        margin-left: 37rem;
    }
    
    .help a {
        text-decoration: none;
        font-size: 13px;
        color: #fff;
        margin-left: 10px;
    }